{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="main-page">
        <h3 id="title" style="margin-left: 20px">All Posts</h3>
        {% if user.is_authenticated %}
            <div class="card" id="compose-post">
                <form id="compose-form">
                    <h5>New Post</h5>
                    <textarea id="post-content" class="form-control" placeholder="What's on your mind?"></textarea>
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>
            </div>
        {% endif %}
        <div id="all-posts"></div>
        <div id="paginate"></div>
    </div>
    <div id="profile-page">
        <div style="margin-left: 40px" id="profile"></div>
        <hr>
        <div id="user-posts"></div>
        <div id="user_paginate"></div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}