.post {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
#compose-post {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}